<h2>Projects</h2>
<p>
    <small>
        Some are just small libraries, others are pet projects developed as a part of research before building commercial
        project. I'm going to add them here, one by one - stay tuned!
    </small>
</p>
<hr />
<div class="row">
    {{ include('projects/list/php-matcher.html.twig') }}
    {{ include('projects/list/assert-js.html.twig') }}
    <hr />
</div>