{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block content %}
<div class="mx-auto max-w-screen-xl px-2">
    <a href="{{ path('blog') }}" class="text-blue-500 hover:underline">Back to blog</a>
</div>
<article class="blog-post px-2 py-5 sm:px-4 mx-auto max-w-screen-xl">
    {{ block('article') }}
</article>
<div class="mb-2 mx-auto max-w-screen-xl text-center">
    <script src="https://giscus.app/client.js"
            data-repo="norberttech/norbert.tech"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyMjQ0MDQwNDA="
            data-category="Comments"
            data-category-id="DIC_kwDODWAiSM4CionD"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light"
            data-lang="en"
            crossorigin="anonymous"
            async>
    </script>
</div>
{% endblock %}