@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Cabin", system-ui;
    font-size: 18px;
}

a {
    @apply text-blue-600 dark:text-blue-500 hover:underline;
}

code {
    font-size: 0.9em;
    @apply rounded !px-[4px] !py-[6px] bg-gray-100 text-gray-800;
}

pre code.hljs {
    @apply !p-4;
}

.btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-xl shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.btn-success {
    @apply bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200;
}

.btn-primary {
    @apply bg-sky-500 hover:bg-sky-600 focus:ring-sky-400 focus:ring-offset-sky-200;
}

.badge {
    @apply inline-flex items-center px-[5px] py-[1px] rounded-md text-sm font-medium bg-gray-200 text-gray-800
}

.badge-success {
    @apply bg-green-200 text-green-800
}

.badge-info {
    @apply bg-blue-200 text-blue-800
}

.badge-secondary {
    @apply bg-gray-200 text-gray-800
}

article.blog-post p, ul, pre, img {
    @apply mb-2
}

article.blog-post pre {
    @apply overflow-x-auto
}

article.blog-post h1 {
    @apply text-3xl font-bold mb-4 mt-4;
}

article.blog-post h2 {
    @apply text-2xl font-semibold mb-3 mt-3;
}

article.blog-post h3 {
    @apply text-xl font-semibold mb-2 mt-2;
}

article.blog-post h4 {
    @apply text-lg font-semibold mb-2 mt-2;
}

article.blog-post ul {
    @apply list-disc pl-6;
}

article.blog-post ol {
    @apply list-decimal pl-6;
}

article.blog-post blockquote {
    @apply border-l-4 pl-4 italic text-gray-600 my-4;
}

article.blog-post .img-wide {
    @apply h-[450px] w-full mb-5 overflow-hidden flex items-center justify-center;
}

article.blog-post .img-wide img {
    @apply object-cover object-center;
}

.backdrop-blur-blue {
    backdrop-filter: blur(10px) hue-rotate(180deg);
}