@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "Cabin", system-ui;
    font-size: 18px;
    line-height: 1.65;
    @apply lg:text-[19px];
}

a {
    @apply text-blue-600 dark:text-blue-500 hover:underline;
}

code {
    font-size: 0.9em;
    @apply rounded !px-[5px] !py-[2px] bg-gray-100 text-gray-800 border border-gray-300 font-mono;
}

pre code.hljs {
    @apply !p-4;
}

.btn {
    @apply inline-flex items-center justify-center px-4 py-2 rounded-xl shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2;
}

.btn-success {
    @apply bg-green-600 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200;
}

.btn-primary {
    @apply bg-sky-500 hover:bg-sky-600 focus:ring-sky-400 focus:ring-offset-sky-200;
}

.badge {
    @apply inline-flex items-center px-[5px] py-[1px] rounded-md text-sm font-medium bg-gray-200 text-gray-800
}

.badge-success {
    @apply bg-green-200 text-green-800
}

.badge-info {
    @apply bg-blue-200 text-blue-800
}

.badge-secondary {
    @apply bg-gray-200 text-gray-800
}
.hero {
    @apply py-2 w-full max-w-screen-2xl mx-auto;
}

.hero .img-wide {
    @apply h-[450px] w-full mb-5 overflow-hidden flex items-center justify-center;
}

article.blog-post {
    @apply px-2 py-2 sm:px-4 md:px-8 lg:px-12 mx-auto max-w-4xl
}

article.blog-post p {
    @apply mb-5 leading-[1.75];
}

article.blog-post ul, article.blog-post ol, article.blog-post pre, article.blog-post img {
    @apply mb-5;
}

article.blog-post pre {
    @apply overflow-x-auto;
}

@media (max-width: 640px) {
    article.blog-post p code {
        display: inline-block;
        max-width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        vertical-align: bottom;
    }
}

article.blog-post h1 {
    @apply text-3xl font-bold mb-4 mt-6;
}

article.blog-post h2 {
    @apply text-2xl font-semibold mb-4 mt-6;
}

article.blog-post h3 {
    @apply text-xl font-semibold mb-3 mt-5;
}

article.blog-post h4 {
    @apply text-lg font-semibold mb-2 mt-4;
}

article.blog-post ul {
    @apply list-disc pl-6;
}

article.blog-post ol {
    @apply list-decimal pl-6;
}

article.blog-post ul li, article.blog-post ol li {
    @apply mb-2;
}

article.blog-post blockquote {
    @apply border-l-4 pl-4 italic text-gray-600 my-4;
}

article.blog-post .img-wide {
    @apply w-full mb-5 overflow-hidden flex items-center justify-center;
}

article.blog-post .img-wide img {
    @apply object-cover object-center;
}

article.blog-post div.important {
    @apply bg-amber-50 border-l-4 border-amber-400 p-4 my-6;

    p {
        @apply text-amber-900;
    }
}

article.blog-post div.notice {
    @apply bg-sky-50 border-l-4 border-sky-400 p-4 my-6;

    p {
        @apply text-sky-900;
    }
}

.backdrop-blur-blue {
    backdrop-filter: blur(10px) hue-rotate(180deg);
}