<div class="col-md-12">
    <h5 id="php-matcher"><a href="#php-matcher"># Aeon PHP</a> <small><span class="badge badge-success">Open Source</span></small></h5>
    <p>
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul>
        <li><a href="https://github.com/aeon-php" target="_blank"><i class="fab fa-github"></i> aeon-php</a></li>
    </ul>
    <p>
        <a href="https://aeon-php.org" target="_blank">Aeon</a> is a set of libraries that makes it easier to work with PHP Date & Time in an elegant Object Oriented way.
    </p>
    <section>
        <h5>Features</h5>
        <hr/>
        <ul>
            <li>Full immutability</li>
            <li>Elegant object oriented interface</li>
            <li>Mocking time in tests</li>
            <li>Regional holidays detection</li>
            <li>Business hours abstraction</li>
            <li>Doctrine DBAL integration</li>
            <li>Compatibility with all modern frameworks</li>
            <li>Intuitive API and IDE autocompletion</li>
            <li>Optional leap seconds support</li>
            <li>High precision of elapsed time measurement</li>
            <li>Smooth integration with built in <a href="https://www.php.net/manual/en/class.datetimeinterface.php" target="_blank">\DateTimeInterface</a></li>
            <li>Many many more!</li>
        </ul>

        <p>
            Visit project <a href="https://aeon-php.org/docs/" target="_blank">documentation</a> page to learn more
            and don't be worry about time anymore!
        </p>
    </section>
    <hr />
</div>