<div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm hover:shadow-md transition-shadow">
    <h5 id="aeon-php" class="text-lg font-bold mb-2">
        <a href="#aeon-php" class="text-black"># Aeon PHP</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
    </p>

    <p class="mb-2">
        <a href="https://github.com/aeon-php" target="_blank"><i class="fab fa-github"></i> aeon-php</a>
    </p>
    <p class="mb-2">
        <a href="https://aeon-php.org" target="_blank">Aeon</a> is a set of libraries that makes it easier to work with PHP Date & Time in an elegant Object Oriented way.
    </p>
    <div class="mb-2">
        <span class="font-bold">Features:</span> Full immutability, Elegant object oriented interface, Mocking time in tests, Regional holidays detection, Business hours abstraction, Doctrine DBAL integration, Compatibility with all modern frameworks, Intuitive API and IDE autocompletion, Optional leap seconds support, High precision of elapsed time measurement, Smooth integration with built in <a href="https://www.php.net/manual/en/class.datetimeinterface.php" target="_blank">\DateTimeInterface</a>
    </div>

    <p>
        Visit project <a href="https://aeon-php.org/docs/" target="_blank">documentation</a> page to learn more
        and don't be worry about time anymore!
    </p>
</div>