<div class="col-md-12">
    <h5 id="assert-js"><a href="#assert-js"># AssertJS</a> <small><span class="badge badge-success">Open Source</span></small></h5>
    <p>
        <small><span class="badge badge-secondary">JavaScript</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul>
        <li><a href="https://github.com/tiliqua/assert-js" target="_blank"><i class="fab fa-github"></i> tiliqua/assert-js</a></li>
    </ul>
    <p>
        This is nothing more than another JavaScript Assertion Library, but it comes without any dependencies.
        It's strongly inspired by assertion libraries available in PHP. It was initially developed as a part of
        <a href="https://github.com/norzechowicz/no-game" target="_blank">No Game - JS 2D Multiplayer Game Engine</a> and
        extracted to standalone repository later.<br/>
        Using assertion makes development much more offensive, with minimum tolerance for mistakes but maximum verbosity
        of errors.
    </p>
    <p>
        Read more at <a href="https://assert-js.norbert.tech/" target="_blank">https://assert-js.norbert.tech/</a>
    </p>
    <blockquote class="blockquote text-right">
        <p>
            <small>Tiliqua is a large terrestrial lizard measuring up to 40 centimetres long and 700 grams in mass.</small>
        </p>
        <footer class="blockquote-footer">Wikipedia</footer>
    </blockquote>
</div>