<div class="col-md-12">
    <h5 id="php-matcher"><a href="#php-matcher"># Flow PHP - ETL</a> <small><span class="badge badge-success">Open Source</span></small></h5>
    <p>
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul>
        <li><a href="https://github.com/flow-php" target="_blank"><i class="fab fa-github"></i> flow-php</a></li>
    </ul>
    <p>
        <a href="https://aeon-php.org" target="_blank">Flow ETL</a> is an full Extract Transform Load patter implementation in PHP.
    </p>
    <section>
        <h5>Adapters</h5>
        <hr/>
        <ul>
            <li>CSV</li>
            <li>JSON</li>
            <li>Elasticsearch</li>
            <li>Database (Doctrine Dbal)</li>
            <li>HTTP</li>
            <li>XML</li>
            <li>PSR Logger</li>
            <li>Memory</li>
        </ul>
        <p>
            Additionally Flow ETL comes with 30+ build in Transformers that can handle most of transformations.<br/>
            In order to provide best possible user experience use DSL called <a href="https://github.com/flow-php/flow" target="_blank">flow</a>
        </p>
    </section>
    <hr />
</div>