<div class="col-md-12">
    <h5 id="flow-php"><a href="#flow-php"># Flow PHP - ETL</a> <small><span class="badge badge-success">Open Source</span></small></h5>
    <p>
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul>
        <li><a href="https://github.com/flow-php" target="_blank"><i class="fab fa-github"></i> flow-php</a></li>
    </ul>
    <p>
        <a href="https://github.com/flow-php" target="_blank">Flow</a> is a PHP based, strongly typed ETL (Extract Transform Load) data processing library.
    </p>
    <section>
        <h5>Adapters</h5>
        <ul>
            <li>CSV</li>
            <li>JSON</li>
            <li>Elasticsearch</li>
            <li>Database (Doctrine Dbal)</li>
            <li>HTTP</li>
            <li>XML</li>
            <li>PSR Logger</li>
            <li>Memory</li>
        </ul>
        <p>
            Additionally Flow ETL comes with 30+ build in Transformers that can handle most of transformations.<br/>
        </p>
        <p>
            Read more about <a href="https://github.com/flow-php" target="_blank">Flow</a>
        </p>
    </section>
    <hr />
</div>