<div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm hover:shadow-md transition-shadow">
    <h5 id="flow-php" class="text-lg font-bold mb-2">
        <a href="#flow-php" class="text-black"># Flow PHP - DataFrame</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Framework</span></small>
        <small><span class="badge badge-secondary">CLI</span></small>
    </p>

    <p class="mb-2">
        <a href="https://github.com/flow-php" target="_blank"><i class="fab fa-github"></i> flow-php</a>
    </p>
    <p class="mb-2">
        <a href="https://flow-php.com" target="_blank">Flow</a> is the most advanced PHP, strongly typed, data processing framework with over 40 built-in components.
    </p>
    <div class="mb-2">
        <span class="font-bold">Adapters:</span> CSV, JSON, XML, Text, Parquet, Rest API, Doctrine, Elasticsearch / Meilisearch, and more...
    </div>
    <p>
        Read more at <a href="https://flow-php.com" target="_blank">https://flow-php.com</a>
    </p>
</div>