<div class="mb-2">
    <h5 id="flow-php" class="text-lg bold mb-2">
        <a href="#flow-php" class="text-black"># Flow PHP - ETL</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul class="list-disc mb-2 pl-8">
        <li><a href="https://github.com/flow-php" target="_blank"><i class="fab fa-github"></i> flow-php</a></li>
    </ul>
    <p class="mb-2">
        <a href="https://github.com/flow-php" target="_blank">Flow</a> is a PHP based, strongly typed ETL (Extract Transform Load) data processing library.
    </p>
    <section class="mb-2">
        <h5 class="font-bold mb-2">Adapters</h5>
        <ul class="list-disc mb-2 pl-8">
            <li>CSV</li>
            <li>JSON</li>
            <li>Elasticsearch</li>
            <li>Database (Doctrine Dbal)</li>
            <li>HTTP</li>
            <li>XML</li>
            <li>PSR Logger</li>
            <li>Memory</li>
        </ul>
        <p class="mb-2">
            Additionally Flow ETL comes with 30+ build in Transformers that can handle most of transformations.<br/>
        </p>
        <p>
            Read more about <a href="https://flow-php.com" target="_blank">https://flow-php.com</a>
        </p>
    </section>
    <hr />
</div>