<div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm hover:shadow-md transition-shadow">
    <h5 id="md-link-linter" class="text-lg font-bold mb-2">
        <a href="#md-link-linter" class="text-black"># MD Link Linter</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">CLI Tool</span></small>
    </p>

    <p class="mb-2">
        <a href="https://github.com/norberttech/md-link-linter" target="_blank"><i class="fab fa-github"></i> norberttech/md-link-linter</a>
    </p>
    <p class="mb-2">
        CLI app that iterates through all markdown files in given path checking if links used in them are always valid.
        Keeping url's up to date was always my biggest nightmare, that's how MD Link Linter was created.
    </p>
    <p class="mb-2">
        Available as a <a href="https://hub.docker.com/r/norberttech/md-link-linter" target="_blank">docker image</a> for easy cross-platform usage.
    </p>
<pre class="mb-2 text-xs"><code class="code-shell p-0.5" {{ stimulus_controller('syntax_highlight') }}">docker pull norberttech/md-link-linter
docker run -t --rm -v $PWD:/app norberttech/md-link-linter --exclude=vendor --exclude=node_modules .
</code></pre>
</div>