<div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm hover:shadow-md transition-shadow">
    <h5 id="php-matcher" class="text-lg font-bold mb-2">
        <a href="#php-matcher" class="text-black"># PHPMatcher</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
    </p>

    <p class="mb-2">
        <a href="https://github.com/coduo/php-matcher" target="_blank"><i class="fab fa-github"></i> coduo/php-matcher</a>
    </p>
    <p class="mb-2">
        PHP library that only job is to match values against patterns, extremely useful when you need
        to check if API response matches expected pattern for example in functional tests.
        It also provides many useful placeholders like <code>@string@</code> or <code>@number@</code>.
    </p>
    <p>
        Try it at <a href="https://php-matcher.norbert.tech">https://php-matcher.norbert.tech</a>!
        Sandbox source code: <a href="https://github.com/coduo/php-matcher-site" target="_blank"><i class="fab fa-github"></i> coduo/php-matcher-site</a>
    </p>
</div>