<div class="col-md-12">
    <h5 id="php-matcher"><a href="#php-matcher"># PHPMatcher</a> <small><span class="badge badge-success">Open Source</span></small></h5>
    <p>
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul>
        <li><a href="https://github.com/coduo/php-matcher" target="_blank"><i class="fab fa-github"></i> coduo/php-matcher</a></li>
    </ul>
    <p>
        PHP library that only job is to match values against patterns, extremely useful when you need
        to check if API response matches expected pattern for example in functional tests.
        It also provides many useful placeholders like for example <code>@string@</code> or <code>@number@</code>
        that makes it even more powerful.
    </p>
    <p>
        Still not convinced?<br/>
        You can test it before using at <a href="https://php-matcher.norbert.tech">https://php-matcher.norbert.tech</a>!<br />
    </p>
    <p>
        <small>Sandbox source code is available at <a href="https://github.com/coduo/php-matcher-site" target="_blank"><i class="fab fa-github"></i> coduo/php-matcher-site</a></small>
    </p>
    <hr />
</div>