<div class="mb-2">
    <h5 id="structurizr-php" class="text-lg bold mb-2">
        <a href="#structurizr-php" class="text-black"># Structurizr PHP</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
        <small><span class="badge badge-secondary">License: MIT</span></small>
    </p>

    <ul class="mb-2 list-disc pl-8">
        <li><a href="https://github.com/structurizr-php/structurizr-php" target="_blank"><i class="fab fa-github"></i> structurizr-php/structurizr-php</a></li>
    </ul>
    <p class="mb-2">
        If you are familiar with <a href="https://c4model.com/">C4 model</a> by Simon Brown then you already know what
        this library is for. In other case you should watch this talk:
    </p>
    <p class="text-center mb-2 invisible sm:visible">
        <iframe class="invisible sm:visible w-0 h-0 sm:w-[560px] sm:h-[315px]" src="https://www.youtube.com/embed/x2-rSnhpw0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </p>
    <hr class="mb-2" />
</div>