<div class="border border-gray-300 rounded-lg p-4 bg-white shadow-sm hover:shadow-md transition-shadow">
    <h5 id="structurizr-php" class="text-lg font-bold mb-2">
        <a href="#structurizr-php" class="text-black"># Structurizr PHP</a> <small><span class="badge badge-success">Open Source</span></small>
    </h5>
    <p class="mb-2">
        <small><span class="badge badge-secondary">PHP</span></small>
        <small><span class="badge badge-secondary">Library</span></small>
    </p>

    <p class="mb-2">
        <a href="https://github.com/structurizr-php/structurizr-php" target="_blank"><i class="fab fa-github"></i> structurizr-php/structurizr-php</a>
    </p>
    <p>
        If you are familiar with <a href="https://c4model.com/">C4 model</a> by Simon Brown then you already know what
        this library is for. In other case you should watch <a href="https://www.youtube.com/embed/x2-rSnhpw0g" target="_blank">this talk</a>.
    </p>
</div>