{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h2>Talks</h2>
<div class="row">
    <div class="col-md-6">
        <p>
            Looking for an inspiration or maybe you are trying to solve a particular problem, it does not matter?
            Talks listed below are in my opinion valuable source of knowledge, they are not listed in any particular order.
            No need to watch one by one.
        </p>
    </div>
    <div class="col-md-6">
        <p>
            Do you feel like something is missing here? Great!<br/>
            <a href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fplatform.twitter.com%2F&ref_src=twsrc%5Etfw&screen_name=norbert_tech&tw_p=tweetbutton" target="_blank">Tweet to me about it</a>, or send me an email <a target="_blank" href="mailto:contact@norbert.tech">contact@norbert.tech</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 text-center">
        <iframe src="https://player.vimeo.com/video/108441214" width="530" height="315" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
        <p>
        Greg Young - The art of destroying software
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/R2IAgnpkBck" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Eric Evans - Keynote: DDD Isn't Done: A Skeptical, Optimistic​, Pragmatic Look
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/STKCRSUsyP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Martin Fowler - The Many Meanings of Event-Driven Architecture
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/2dKZ-dWaCiU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Robert C. Martin (Uncle Bob) - Clean Architecture and Design
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/YtROlyWWhV0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Sandi Metz - Polly Want a Message
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/LDW0QWie21s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Greg Young — A Decade of DDD, CQRS, Event Sourcing
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/JHGkaShoyNs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Greg Young - CQRS and Event Sourcing
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/5OjqD-ow8GE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Simon Brown - Modular Monoliths
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315" src="https://www.youtube.com/embed/1Rna6NvIIDk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Gojko Adzic - People that make computers go crazy
        </p>
    </div>
    <div class="col-md-4 text-center">
        <iframe width="530" height="315"  src="https://www.youtube.com/embed/x2-rSnhpw0g" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>
            Simon Brown - Visualising software architecture with the C4 model
        </p>
    </div>
</div>
{% endblock %}